.wrapper {
    background: #272643;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.header {
    color: #2e2d4ea8;
    font-size: 40vw;
    z-index: 2;
    font-family: 'Lora', serif;
}
