:root {
    --darkBlue: #272643;
    --blue: #2c698d;
    --lightBlue: #88c9e7;
    --cyan: #bae8e8;
    --lightCyan: #e3f6f5;
    --white: whitesmoke;
    --black: #333333;

    --small: 16px;
}
