.footer {
    background-color: rgb(104, 98, 98);
    color: black;
    padding : .2rem;
    margin:0;
}
    .copyright {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: black;
        text-align: center;
        background-color: rgb(182, 181, 187);
        padding: .2rem;
      }
      .copyright:before {
        content: "\00a9";
      }
