.homeboard_main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 500px;
}

@media only screen and (max-width: 767px) {
    .homeboard_text {
        font-size: 2rem;
        padding: 0.5rem;
    }
}

@media only screen and (max-device-width: 1366px) {
    .homeboard_main {
        background-attachment: scroll;
    }
}
