.navbar_container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    height:10vh;
    background-color:rgb(182, 181, 187)
}
.main-nav{
    list-style-type: none;
}

.main-nav a:hover,
.main-nav .active {
    color: rgb(11, 3, 44);
    background-color: whitesmoke;
}

.navbar_item{
    display: inline-block;
    padding: 1rem;
}

.navbar_logo {
    margin-top: 0.5rem;
}

.navbar_title {
    color: rgb(11, 3, 44);
    font-family: Nunito, sans-serif;
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.navbar_logo_and_title_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}