/*.navbar_container {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(182, 181, 187);
}*/
/*.navbar_logo {
    width: 150px;
    height: 50px;
    margin: .5rem;
} */


.navbar_links a:hover,
.navbar_links .active {
    color: rgb(11, 3, 44);
    background-color: whitesmoke;
    padding: .2rem 6rem;

    
}

.navbar_link {
    text-decoration:none;
    color:black;
}









@media only screen and (max-width: 767px) {
   
}
  
  .navbar_toggle {
    background-color:rgb(182, 181, 187);
    color: white;
    padding: 0.5rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
@media (min-width: 400px) {
    .navbar_toggle {
      display: none;
    }
  
}  
    .navbar_links {
        display: none;
        flex-direction: column;
        background-color:rgb(182, 181, 187);
        padding: 1rem;
        list-style-type: none;
        text-transform: uppercase;
        transition: 0.2s;
}  
   
@media (min-width: 400px) {
    .navbar_links {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      list-style-type: none;
      text-transform: uppercase;
      transition: 0.2s;
    }

    .navbar_link {
      text-decoration: none;
      color: black;
      margin: 0.5rem;
    }
}

.navbar_links.open {
      display: flex;
      justify-content: flex-start;
}

