.navbar_container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:rgb(182, 181, 187);

}
.navbar_item{
    padding:1rem;
    color: black;
    font-family: 'Nunito', sans-serif;
}