.skill-card_main {
    background-color: rgb(11, 3, 44);
    width:20rem;
    height:8rem;
    margin:1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-card_logo_img {
    height: 50px;
    width: auto;
    margin: 1rem;
    padding-top: .5rem;
}

.skill-card_button {
    cursor: pointer;
    height: 2rem;
    width:10rem;
    margin: 1rem 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 5px;
}




    