.timeline_item {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;
}

.timeline_item_time {
    color: #777;
    font-size: 12px;
    font-weight: bold;
}
.timeline_item_button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.timeline_item_button {
    cursor: pointer;
    height: 2.2rem;
    width:5rem;
    margin:1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 5px;
    border-color:  #2c698d;
    color: black;
}

.timeline_item_button:hover {
    background: #2c698d;
    color: white;
}


.timeline_item_img {
    width:100%;
    height:auto;
}

.timeline_item_title {
    font-size: 1.2rem;
    margin: 1rem 0;
    max-width: 250px;
}

.timeline_item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
}

.timeline_item_text{
    background: rgb(136, 201, 231);
    padding: .7rem;
    border-radius: 5px;
    text-align: justify;
}

.timeline_item_text {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
      
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
      
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
      
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
      
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@media only screen and (max-width: 767px) {
    .timeline_item {
        width: 100%;
        justify-content: center;
    }

    .timeline_item:nth-child(odd) {
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
    }

    .timeline-item-content .tag {
        width: calc(100% - 10px);
        text-align: center;
    }

    .timeline-item-content time {
        margin-top: 20px;
    }
}