.timeline_main {
    background-color: rgb(11, 3, 44);
    margin:0;
    padding-bottom: 1rem;
}
.timeline_header {
    font-weight: bold;
    font-size: 2rem;
    color: whitesmoke;
    padding-top: 0.5rem;
}

.timeline_container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 2rem;
    padding-bottom: 1rem;
}

.timeline_container::after {
    background-color: whitesmoke;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
}
.timeline_item_content {
    border-radius: 5px;
    background-color: rgb(222, 218, 233);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    position: relative;
    width: 400px;
    max-width: 70%;
    text-align: right;
}

.timeline_item_content::after {
    content: ' ';
    background-color: whitesmoke;
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
}

.timeline_item:nth-child(odd)
.timeline_item_content {
    text-align: left;
    align-items: flex-start;
}

.timeline_item:nth-child(odd)
.timeline_item_content::after {
    right: auto;
    left: -7.5px;
}

.timeline_item:nth-child(odd)
.timeline_item_content .tag {
    left: auto;
    right: 5px;
}

.timeline_item:nth-child(odd)
.timeline_item_content
.square {
    right: auto;
    left: -40px;
}