.timeline_main {
    margin: 0;
    padding-bottom: 1rem;
}
.timeline_header {
    font-weight: bold;
    font-size: 2rem;
    color: var(--white);
    padding-top: 0.5rem;
}

.timeline_container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 2rem;
    padding-bottom: 1rem;
}

.timeline_container::after {
    background-color: var(--lightBlue);
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
}
.timeline_item_content {
    border-radius: 5px;
    background-color: var(--lightCyan);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    position: relative;
    width: 400px;
    max-width: 70%;
    text-align: right;
}

.timeline_item_content::after {
    content: ' ';
    background-color: var(--lightBlue);
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
}

.timeline_item:nth-child(odd) .timeline_item_content {
    text-align: left;
    align-items: flex-start;
}

.timeline_item:nth-child(odd) .timeline_item_content::after {
    right: auto;
    left: -8.5px;
}

.timeline_item:nth-child(odd) .timeline_item_content .tag {
    left: auto;
    right: 5px;
}

.timeline_item:nth-child(odd) .timeline_item_content .square {
    right: auto;
    left: -40px;
}

@media only screen and (max-width: 767px) {
    .timeline_container::after {
        left: calc(21% - 2px);
    }
    .timeline_item_content::after {
        left: -7.5px;
    }
    .timeline_header {
        padding: 2.5rem 0 0.5rem;
    }
}

@media only screen and (max-width: 541px) {
    .timeline_container::after {
        left: calc(12% - 2px);
    }
    .timeline_item_content::after {
        left: -7.5px;
    }
}
@media only screen and (max-width: 412px) {
    .timeline_container::after {
        left: calc(11% - 2px);
    }
    .timeline_item_content::after {
        left: -8.5px;
    }
}

@media only screen and (max-width: 281px) {
    .timeline_container::after {
        left: calc(10% - 2px);
    }
    .timeline_item_content::after {
        left: -6.5px;
    }
}
