.skill-card_main {
    background-color: var(--white);
    width: 20rem;
    height: 8rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.skill-card_logo_img {
    height: 50px;
    width: auto;
    margin: 1rem;
    padding-top: 0.5rem;
}

.skill-card_button {
    cursor: pointer;
    height: 2.2rem;
    width: 10rem;
    margin-bottom: 1rem;
    padding: 0 0.5rem;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--blue);
    border: none;
    outline: none;
}
@media only screen and (max-width: 767px) {
    .skill-card_button {
        font-size: 15px;
    }
}

@media only screen and (max-width: 330px) {
    .skill-card_logo_img {
        height: 40px;
        width: auto;
    }
}
