.aboutme_main {
    background-color: var(--aboutmeBackground);
    background-repeat: no-repeat;
    background-size: auto 105%;
    min-height: 92vh;
    background-image: linear-gradient(to right, transparent, #b6bec1, white),
        url('../../images/profile2.png');
}

.aboutme_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.aboutme_header {
    font-weight: bold;
    font-size: 2rem;
    color: var(--black);
    padding: 1rem;
}

.aboutme_section {
    display: flex;
    justify-content: end;
}

@media only screen and (max-width: 1025px) {
    .aboutme_text {
        width: auto;
    }
}

@media only screen and (max-width: 767px) {
    .aboutme_main {
        background-repeat: no-repeat;
        min-height: 100vh;
        background-size: auto 100%;
        background-position: center;
        background-image: linear-gradient(to right, transparent, #ffffffab, white),
            url('../../images/profile2.png');
    }
    .aboutme_section {
        flex-direction: column;
        align-items: center;
        margin: 0.2rem;
        height: 100%;
    }
    .aboutme_header {
        padding: 2.5rem 0 0.5rem;
    }
}
