.experience_card_top_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience_card {
    border-radius: 20px;
    background-color: var(--white);
    height: fit-content;
    max-width: 60rem;
    margin: 0.8rem;
    padding: 0.5rem;
}

.experience_header {
    font-size: 1.3rem;
    color: var(--black);
}
.experience_subtitle {
    font-size: 1.1rem;
    background: var(--blue);
    margin-top: 0.2rem;
    color: var(--white);
}
.experinece_duration {
    background-color: var(--lightBlue);
    border-radius: 5px;
    padding: 0.2rem;
}

.experience_text {
    padding: 0.5rem;
    text-align: justify;
}

@media only screen and (max-width: 767px) {
    .experience_card {
        margin-bottom: 2.5rem;
    }
    .experience_main_header {
        padding: 2.5rem 0 0.5rem;
    }
}
